In [1]:
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn
warnings.filterwarnings(module='sklearn*', action='ignore', category=DeprecationWarning)

import pandas as pd
pd.set_option('max_colwidth', 100)
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
from scipy.stats import skew
%matplotlib inline
rcParams['figure.figsize'] = (12.0, 6.0)

from datetime import datetime
import random
from sklearn import preprocessing
from keras.utils import np_utils

Using TensorFlow backend.

In [2]:
df_all = pd.read_csv('data/19999_question_category_a_v16.csv')
print(f"df_all shape : {df_all.shape}")

df_all shape : (14243, 8)

In [3]:
df_all.head()

,description,category_a,category_b,category_c,category_d,category,description_clean,category_target
0,"無法會員登入,顯示訊息:無效的帳號或使用者不存在。帳號:96122401",CAMP,CAMP,CAMP,CAMP,資訊系統,無法會員登入顯示訊息無效的帳號或不存在帳號,4
1,因今天有事請假，要補登先前的加班，但開啟camp後，出勤表單顯示的內容看起來像測試的，沒有最近的時間也沒辦法使用，(已登出重登，但狀況還是一樣) 煩請協助確認是否資料異常? 因有事外出，請早...,CAMP,CAMP,CAMP,CAMP,資訊系統,因有事請假要補登先前的加班但開啟camp後出勤表單顯示的內容像測試的沒有的時間也沒辦法使用已登出重登但狀況 是否資料異常 因有事外出請早上10點過後,4
2,"手機簽核BPM有問題,都顯示亂碼 #18227",CAMP,CAMP,CAMP,CAMP,資訊系統,簽核bpm有問題都顯示亂碼,4
3,無法在手機上面使用CAMP進行表單簽核動作。分機：17132,CAMP,CAMP,CAMP,CAMP,資訊系統,無法在上面使用camp進行表單簽核動作,4
4,無法打開報單資料,CAMP,CAMP,CAMP,CAMP,資訊系統,無法打開報單資料,4

In [4]:
df_all = df_all.drop(['category_target'], axis = 1)

In [5]:
df_sap = df_all[df_all.category == 'SAP']
def split_category(row):
    if 'SAP-168' in row['category_a']:
        return 'SAP-168'
    else:
        return 'SAP-2X8'

df_sap['category'] = df_sap.apply(split_category, axis=1)
# df_sap.groupby('category')['category']\
#              .agg({'count': 'count'})\
#              .sort_values(by='count', ascending=False)\
#              .reset_index()

print(df_sap.shape)
df_sample = df_sap[df_sap['category'] == 'SAP-168'].sample(n=800, random_state=1)
df_other = df_sap[df_sap['category'] != 'SAP-168']
frames = [df_other, df_sample]
df_sap = pd.concat(frames)

df_sap['category_target'] = df_sap.category.astype('category').cat.codes
df_sap
df_sap.to_csv('data/19999_question_category_b_sap_v4.csv', index=False)

df_sap.groupby('category')['category']\
             .agg({'count': 'count'})\
             .sort_values(by='count', ascending=False)\
             .reset_index()

(1735, 7)

  category  count
0  SAP-168    800
1  SAP-2X8    341

In [6]:
# df_sap.groupby(['category','category_b'])['category']\
#              .agg({'count': 'count'})\
#              .sort_values(by='count', ascending=False)\
#              .reset_index()

In [7]:
# df_sap = df_all[df_all.category == 'SAP']
# df_sap

In [8]:
df_is = df_all[df_all.category == '資訊系統']
def split_category(row):
    return row['category_a']
#     if '人資資訊系統' in row['category_b']:
#         return '人資資訊系統'
#     if '人資類相關服務' in row['category_b']:
#         return '人資資訊系統'
#     else:
#         return row['category_a']

df_is['category'] = df_is.apply(split_category, axis=1)
# df_sap.groupby('category')['category']\
#              .agg({'count': 'count'})\
#              .sort_values(by='count', ascending=False)\
#              .reset_index()

# print(df_is.shape)
# df_sample = df_is[df_is['category'] == 'BPM平台系統'].sample(n=400, random_state=1)
# df_other = df_is[df_is['category'] != 'BPM平台系統']
# frames = [df_other, df_sample]
# df_is = pd.concat(frames)

df_is = df_is[df_is['category'] != 'CAMP']
df_is['category_target'] = df_is.category.astype('category').cat.codes
df_is.to_csv('data/19999_question_category_b_is_v4.csv', index=False)

df_is.groupby('category')['category']\
             .agg({'count': 'count'})\
             .sort_values(by='count', ascending=False)\
             .reset_index()

  category  count
0  BPM平台系統    644
1  R&D資訊系統    353
2   內部資訊系統    339

In [9]:
df_is.groupby('category')['category']\
             .agg({'count': 'count'})\
             .sort_values(by='count', ascending=False)\
             .reset_index()

  category  count
0  BPM平台系統    644
1  R&D資訊系統    353
2   內部資訊系統    339

In [10]:
ppp

NameError: name 'ppp' is not defined

In [ ]:
df_internal = df_all[df_all.category_a == '內部資訊系統']
df_internal['category_b_target'] = df_internal.category_b.astype('category').cat.codes
df_internal.to_csv('data/19999_question_category_b_internal.csv', index=False)
print(f"df_all shape : {df_internal.shape}")
df_internal.head()

In [ ]:
df_rd = df_all[df_all.category_a == 'R&D資訊系統']
df_rd['category_b_target'] = df_rd.category_b.astype('category').cat.codes
df_rd.to_csv('data/19999_question_category_b_rd.csv', index=False)
print(f"df_all shape : {df_rd.shape}")
df_rd.head()

In [ ]:
df_sap168 = df_all[df_all.category_a == 'SAP-168(QCI)']
df_sap168['category_b_target'] = df_sap168.category_b.astype('category').cat.codes
df_sap168.to_csv('data/19999_question_category_b_sap168.csv', index=False)
print(f"df_all shape : {df_sap168.shape}")
df_sap168.head()

In [ ]:
df_sap2x8 = df_all[df_all.category_a == 'SAP-2X8(QSMC)']
df_sap2x8['category_b_target'] = df_sap2x8.category_b.astype('category').cat.codes
df_sap2x8.to_csv('data/19999_question_category_b_sap2x8.csv', index=False)
print(f"df_all shape : {df_sap2x8.shape}")
df_sap2x8